html {
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(219, 94, 56);
    --text-color: #333;
}

.container {
    min-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.buttons a {
    text-decoration: none;
    color: var(--text-color);
}

.buttons i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.today::after {
    content: "Today";
    padding: .5rem;
    font-size: 1.3rem;
}

.work::after {
    content: "Work";
    padding: .5rem;
    font-size: 1.3rem;
}

.container {
    display: grid;
    justify-content: center;
    margin: 5rem 0 3rem 0 ;
    gap: 2.5rem;
}

h1 {
    background-color: var(--primary-color);
    color: #333;
    padding: .8rem 8rem;
    border-radius: 10px;
    box-shadow: 0 5px 4px 0 var(--primary-color), 0 5px 2px 0 var(--primary-color);
}

.second-title {
    padding: .8rem 11.5rem;
}

.todolist {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--text-color);
    border-radius: 10px;
    padding: 3rem;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.2), 0 6px 20px 0 rgba(19, 18, 18, 0.19);
}

.list,
.add-item {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul li {
    list-style: none;
    border-bottom: 1px solid var(--text-color);
    padding: .5rem;
    position: relative;
    font-size: 1.2rem;
}

ul li span {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 1.2rem;
}

.checked {
    text-decoration: line-through;
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 100%;
    padding: .5rem 1rem;
    cursor: pointer;
}

button::after {
    content: "+";
    font-size: 2rem;
}

.add-item-to-list {
    display: flex;
    justify-content: center;
}

.add-item,
.add-work-item {
    background: none;
    border: white;
    outline: white;
    color: var(--text-color);
    font-size: 1.2rem;
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
}

.deleteTask {
    font-size: 1.5rem;
}

footer {
    text-align: center;
    color: var(--text-color);
}

.close {
    color: var(--primary-color);
}